p {
    color: crimson;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-image: url(../img/bg.avif);
    background-size: cover;
}

fieldset,
legend {
    border-width: 1px;
    border-radius: 20px;
    border-color: brown;
}

legend {
    padding: 10px;
    background-color: brown;
    color: white;
    font-weight: bold;
}

font {
    font-size: 16px;
}

table {
    border: 10px;
    margin: auto;
}

tr {
    padding: 5px;
    border: 1px solid green;
}

tr :hover {
    color: red;
}